@charset "utf-8";
.container-fluid {
}
.container-fluid {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0.69%,rgba(63,61,61,1.00) 29.36%,rgba(166,162,162,1.00) 58.38%,rgba(143,105,105,1.00) 78.41%,rgba(169,171,171,1.00) 93.26%,rgba(91,164,198,0.85) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0.69%,rgba(63,61,61,1.00) 29.36%,rgba(166,162,162,1.00) 58.38%,rgba(143,105,105,1.00) 78.41%,rgba(169,171,171,1.00) 93.26%,rgba(91,164,198,0.85) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0.69%,rgba(63,61,61,1.00) 29.36%,rgba(166,162,162,1.00) 58.38%,rgba(143,105,105,1.00) 78.41%,rgba(169,171,171,1.00) 93.26%,rgba(91,164,198,0.85) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0.69%,rgba(63,61,61,1.00) 29.36%,rgba(166,162,162,1.00) 58.38%,rgba(143,105,105,1.00) 78.41%,rgba(169,171,171,1.00) 93.26%,rgba(91,164,198,0.85) 100.00%);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(12,11,11,1.00) 0%,rgba(144,138,138,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(12,11,11,1.00) 0%,rgba(144,138,138,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(12,11,11,1.00) 0%,rgba(144,138,138,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(12,11,11,1.00) 0%,rgba(144,138,138,1.00) 100.00%);
}
.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand strong {
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: xx-large;
    line-height: normal;
    text-decoration: overline;
    text-shadow: 0px 0px 2px #837172;
    letter-spacing: 2mm;
    vertical-align: baseline;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
    color: #FFFFFF;
}
.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 .navbar-nav.mr-auto {
    color: #FFFFFF;
}
.container-fluid .container #fname {
    background-image: -webkit-linear-gradient(270deg,rgba(87,87,87,1.00) 0%,rgba(113,106,106,1.00) 15.89%,rgba(137,134,134,1.00) 35.23%,rgba(128,128,128,1.00) 50.78%,rgba(202,202,202,1.00) 80.14%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(87,87,87,1.00) 0%,rgba(113,106,106,1.00) 15.89%,rgba(137,134,134,1.00) 35.23%,rgba(128,128,128,1.00) 50.78%,rgba(202,202,202,1.00) 80.14%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(87,87,87,1.00) 0%,rgba(113,106,106,1.00) 15.89%,rgba(137,134,134,1.00) 35.23%,rgba(128,128,128,1.00) 50.78%,rgba(202,202,202,1.00) 80.14%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(87,87,87,1.00) 0%,rgba(113,106,106,1.00) 15.89%,rgba(137,134,134,1.00) 35.23%,rgba(128,128,128,1.00) 50.78%,rgba(202,202,202,1.00) 80.14%,rgba(255,255,255,1.00) 100%);
}
.container-fluid .container form {

}
.text-uppercase.text-left strong em {
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    text-decoration: overline;
    text-shadow: 0px 0px 2px;
    opacity: 1;
}
